@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--primary: hsl(357, 89%, 63%);
	--primary-alt: hsl(13, 80%, 70%);
	--secondary: hsl(267, 49%, 63%);
	--tertiary: hsl(207, 79%, 63%);
	--bg-grad: linear-gradient(270deg, var(--primary), var(--primary-alt));

	--bg: hsl(267, 49%, 0%);

	--text-color: hsl(0, 0%, 90%);
	--white: white;
	--white2: hsl(0, 0%, 90%);

	--rem6: 0.3rem;
	--rem8: 0.5rem;
	--rem12: 0.75rem;
	--rem16: 1rem;
	--rem24: 1.5rem;
	--rem32: 2rem;
	--rem64: 4rem;

	--bold: 700;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--bg);
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
a,
h2 {
	color: var(--primary);
}

h1 {
	font-size: var(--rem64);
}

h2 {
	font-size: var(--rem32);
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

button,
input {
	border: none;
	outline: none;
}

button {
	cursor: pointer;
	padding: var(--rem12) var(--rem24);
	border-radius: var(--rem24);
	font-weight: var(--bold);
	transition: 0.1s;
	background: var(--white);

	&:hover {
		background: var(--white2);
	}
}

.container {
	width: clamp(215px, 100%, 860px);
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
